<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="commentDAO">

	<insert id="addComment">
		INSERT INTO comment(uid, ucomment) VALUES(#{uid}, #{ucomment})
	</insert>
	
	<select id="getComment" resultType="com.jun.domain.CommentVO">
		SELECT * FROM comment where cid > 0 ORDER BY regdate desc LIMIT #{pageStart}, #{perPageNum} 
	</select>

	<update id="updateComment">
		UPDATE comment SET uid = #{uid}, ucomment = #{ucomment} WHERE cid = #{cid} 
	</update>

	<delete id="deleteComment">
		DELETE FROM comment WHERE cid = #{cid}
	</delete>

</mapper>