<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movBoardMapper">

	<insert id="create">
		INSERT INTO movBoard (name, contents, runtime, imgpath) VALUES (#{name}, #{contents}, #{runtime}, #{imgpath}) 
	</insert>
	
	<select id="read" resultType="com.jun.domain.MovBoardVO">
		SELECT mid, name, contents, runtime, viewcnt, regdate, imgpath, imgpathInnerBig, imgpathInnerSmall FROM movBoard where mid = #{mid}
	</select>
	
	<update id="update">
		UPDATE movBoard SET name = #{name}, contents = #{contents}, runtime = #{runtime}, imgpath = #{imgpath} where mid=#{mid}
	</update>
	
	<select id="readTop" resultType="com.jun.domain.MovBoardVO">
		SELECT mid, name, contents, runtime, viewcnt, imgpath, imgpathInnerSmall FROM movBoard order by viewcnt desc LIMIT 0, 3 
	</select>
	
	<select id="readMid" resultType="com.jun.domain.MovBoardVO">
		SELECT mid, name, contents, runtime, viewcnt, imgpath, imgpathInnerSmall FROM movBoard order by viewcnt desc LIMIT 4, 9 
	</select>
	
	<select id="readAll" resultType="com.jun.domain.MovBoardVO">
		SELECT * FROM movBoard order by regdate desc LIMIT 0, 5
	</select>
	
	<select id="countPost" resultType="int">
		SELECT count(*) FROM movBoard
	</select>
	
	<select id="rankList" resultType="com.jun.domain.MovBoardVO">
		SELECT name FROM movBoard order by viewcnt desc LIMIT 0, 10
	</select>
	
	<select id="genreList" resultType="com.jun.domain.MovBoardVO">
		<![CDATA[
		SELECT name, imgpath FROM movBoard where genre = #{genre}
		]]>
		<include refid="search"/>
		<![CDATA[
		 order by viewcnt desc LIMIT #{pageStart}, #{perPageNum}
		 ]]>
	</select>
	
	<select id="totalCountPerGenre" resultType="int">
		<![CDATA[
		SELECT count(*) FROM movBoard where genre = #{genre}
		]]>
		<include refid="search"/>
	</select>
	
	
	<!-- 검색조건 -->
	<sql id="search">
		<if test="searchType != null">
			<if test = "searchType == 'nc'.toString()">
				AND (name LIKE CONCAT("%", #{keyword}, "%") OR contents LIKE CONCAT("%", #{keyword}, "%"))
			</if>
			<if test = "searchType == 'n'.toString()">
				AND name LIKE CONCAT("%", #{keyword}, "%")
			</if>
			<if test = "searchType == 'g'.toString()">
				AND contents LIKE CONCAT("%", #{keyword}, "%")
			</if>
		</if>
	</sql>
	
</mapper>