<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movBoardMapper">

	<insert id="create">
		INSERT INTO movBoard (name, contents, runtime, imgpath) VALUES (#{name}, #{contents}, #{runtime}, #{imgpath}) 
	</insert>
	
	<select id="read" resultType="com.jun.domain.MovBoardVO">
		SELECT mid, name, contents, runtime, viewcnt, regdate, imgpath, imgpathInnerBig, imgpathInnerSmall FROM movBoard where mid = #{mid}
	</select>
	
	<update id="update">
		UPDATE movBoard SET name = #{name}, contents = #{contents}, runtime = #{runtime}, imgpath = #{imgpath} where mid=#{mid}
	</update>
	
	<select id="readTop" resultType="com.jun.domain.MovBoardVO">
		SELECT mid, name, contents, runtime, viewcnt, imgpath FROM movBoard order by viewcnt desc LIMIT 0, 3 
	</select>
	
	<select id="readMid" resultType="com.jun.domain.MovBoardVO">
		SELECT mid, name, contents, runtime, viewcnt, imgpath FROM movBoard order by viewcnt desc LIMIT 4, 6 
	</select>
	
	<select id="readAll" resultType="com.jun.domain.MovBoardVO">
		SELECT * FROM movBoard order by regdate desc LIMIT 0, 5
	</select>
	
	<select id="rankList" resultType="com.jun.domain.MovBoardVO">
		SELECT name FROM movBoard order by viewcnt desc LIMIT 0, 10
	</select>
	
	<select id="genreList" resultType="com.jun.domain.MovBoardVO">
		SELECT name, imgpath FROM movBoard where genre = #{genre} order by viewcnt desc LIMIT 0, 10
	</select>
	
<!-- 	<select id="readBoard" resultType="com.jun.domain.EngBoardVO">
		SELECT * FROM engBoard order by updatedate desc LIMIT #{pageStart}, #{perPageNum}
	</select> -->
	
	<select id="countPost" resultType="int">
		SELECT count(*) FROM engBoard 
	</select>
	
</mapper>